body, html {
	background-color: #F8F9F9;
	height: 100%;
	font-size: 16px;
}

.header{
	padding: 30px 0px 30px 0px ;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}